	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<div class="b-logo">
					<a href="#">
						<span>iSmile</span>
						<br>
						<span>store</span>
					</a>
				</div>
				<div class="b-footer-contacts wow pulse nimated">
					<div class="footer-contacts-info">
						<p>
							Lorem ipsum dolor sit amet consecteta adipis
							cing elit sed do leusmod tempor incididunt ut
							ard sed ipsum labore dolore.
						</p>
					</div>
					<div class="footer-contacts-list">
						<ul class="list-unstyled">
							<li>
								<i class="fa fa-map-pin fa-fw"></i>
								<span>121 King Street, Melbourne,
									Victoria, 3000 AU</span>
							</li>
							<li>
								<i class="fa fa-phone fa-fw"></i>
								<span>+ 123 456 7890</span>
							</li>
							<li>
								<i class="fa fa-envelope-o fa-fw"></i>
								<span>order@ismilestore.net</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9">
				<div class="row">
					<div class="b-footer-menu clearfix">
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
							<div class="footer-menu-item wow pulse nimated">
								<div class="heading-line">Store links</div>
								<ul class="list-unstyled">
									<li><a href="#">All Brands</a></li>
									<li><a href="#">Latest Smartphones</a></li>
									<li><a href="#">Best Sellers</a></li>
									<li><a href="#">Advertise With us</a></li>
									<li><a href="#">Delivery Information</a></li>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
							<div class="footer-menu-item wow pulse nimated">
								<div class="heading-line">our Brands</div>
								<ul class="list-unstyled">
									<li><a href="#">Samsung</a></li>
									<li><a href="#">Nokia</a></li>
									<li><a href="#">LG</a></li>
									<li><a href="#">Apple</a></li>
									<li><a href="#">Sony</a></li>
									<li><a href="#">Microsoft</a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix visible-xs-block"></div>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
							<div class="footer-menu-item wow pulse nimated">
								<div class="heading-line">information</div>
								<ul class="list-unstyled">
									<li><a href="#">My Account</a></li>
									<li><a href="#">My Shopping Cart</a></li>
									<li><a href="#">My Wishlist</a></li>
									<li><a href="#">Help Center</a></li>
									<li><a href="#">Returns & Warrenty</a></li>
									<li><a href="#">Order History</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
							<div class="b-latest-tweets wow pulse nimated">
								<div class="heading-line">latest tweets</div>
								<div class="tweet-item">
									<p>
										Android in December: Marshmallow is
										on 0.5% of devices, Lollipop reaches
										29.5% <a href="#">http://bit.ly/1PWrFhy</a>
									</p>
								</div>
								<div class="tweet-item">
									<p>
										Apple planning March event for new
										Apple Watch and 4 inch iPhone: Apple
										is planning to hold an ev… <a href="#">http://bit.ly/1TZL7bB</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="b-footer-subsc">
					<div class="row">
						<div class="col-sm-3">
							<div class="subsc-title wow pulse nimated">
								<p>
									subscribe to latest smartphones
									news & great deals we offer
								</p>
							</div>
						</div>
						<div class="col-sm-9 col-lg-5">
							<div class="subsc-mail wow pulse nimated">
								<form id="comment-reply-form" class="b-form" method="get" action="#">
									<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<input type="text" class="form-control" id="form-mail" placeholder="Enter Your Email Address ...">
												<button type="button" class="btn btn-subsc"><i class="fa fa-envelope-o fa-fw"></i></button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-sm-12 col-lg-4 clearfix">
							<div class="footer-socials wow pulse nimated">
								<div class="b-socials clearfix">
									<ul class="list-unstyled">
										<li><a href="https://twitter.com/"><i class="fa fa-twitter fa-fw"></i></a></li>
										<li><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-fw"></i></a></li>
										<li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin fa-fw"></i></a></li>
										<li><a href="https://plus.google.com/"><i class="fa fa-google-plus fa-fw"></i></a></li>
										<li><a href="http://pinterest.com/"><i class="fa fa-pinterest-p fa-fw"></i></a></li>
										<li><a href="https://www.youtube.com/"><i class="fa fa-youtube-play fa-fw"></i></a></li>
										<li><a href="#"><i class="fa fa-rss fa-fw"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="b-footer-add">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="clearfix">
						<div class="b-copy pull-left wow fadeInLeft">
							<p>
								Copyright © 2015 <a href="#">ismile store</a> All Rights Reserved.
							</p>
						</div>
						<div class="b-payments pull-right">
							<ul class="list-unstyled wow fadeInRight">
								<li>
									<img src="template/media/paycards/1.jpg" class="img-responsive" alt="/">
								</li>
								<li><img src="template/media/paycards/2.jpg" class="img-responsive" alt="/"></li>
								<li><img src="template/media/paycards/3.jpg" class="img-responsive" alt="/"></li>
								<li><img src="template/media/paycards/4.jpg" class="img-responsive" alt="/"></li>
								<li><img src="template/media/paycards/5.jpg" class="img-responsive" alt="/"></li>
								<li><img src="template/media/paycards/6.jpg" class="img-responsive" alt="/"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
