<section ng-controller="HomeController as vm" ng-init="loadProducts()">
    <!-- Loader -->
    <div id="page-preloader"><span class="spinner"></span></div>
    <!-- Loader end -->
    
    <div class="b-page">
      <!-- Start Switcher -->
      <div class="switcher-wrapper">
        <div class="demo_changer">
          <div class="demo-icon customBgColor">
            <i class="fa fa-cog fa-spin fa-2x"></i>
          </div>
          <div class="form_holder">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="predefined_styles">
                  <div class="skin-theme-switcher">
                    <h4>Color</h4>
                    <a href="#" data-switchcolor="color1" class="styleswitch" style="background-color:#e24545;"> </a>
                    <a href="#" data-switchcolor="color2" class="styleswitch" style="background-color:#0072bc;"> </a>
                    <a href="#" data-switchcolor="color3" class="styleswitch" style="background-color:#ff9600;"> </a>
                    <a href="#" data-switchcolor="color4" class="styleswitch" style="background-color:#01a664;"> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Switcher -->
     
      <section class="section-home home-1">
        <section class="main-slider">
          <div class="slider-pro full-width-slider" id="main-slider" data-width="100%" data-height="370" data-fade="true" data-buttons="true" data-wait-for-layers="true" data-thumbnail-pointer="false" data-touch-swipe="false" data-autoplay="true" data-auto-scale-layers="true" data-visible-size="100%" data-force-size="fullWidth" data-autoplay-delay="5000" >
            <div class="sp-slides">
              <div class="sp-slide">
                <img class="sp-image" src="template/media/slides/real/slide_1.jpg"
                  data-src="template/media/slides/real/slide_1.jpg"
                  data-retina="media/slides/slide_1.jpg" alt="slide1" />
                <div class="sp-layer slider-discount"
                  data-horizontal="18.6%" data-vertical="22.5%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                  <span>25% OFF</span>
                </div>
                <div class="sp-layer slide-tex-1"
                  data-horizontal="18.6%" data-vertical="33.5%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">
                  <span>smartphones<br><span class="border-line">on sale</span></span>
                </div>
                <div class="sp-layer slider-text-2"
                  data-horizontal="18.7%" data-vertical="54.4%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="800">
                  more faster. more powerful<br>
                  & even more bigger
                </div>
                <div class="sp-layer"
                  data-horizontal="18.9%" data-vertical="68.7%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="1000">
                  <a class="btn btn-primary-color1 btn-sm" href="#">SHOP NOW</a>
                </div>
              </div>

              <div class="sp-slide">
                <img class="sp-image" src="template/media/slides/real/slide_2.jpg"
                  data-src="template/media/slides/real/slide_2.jpg"
                  data-retina="media/slides/slide_2.jpg" alt="slide2" />
                <div class="sp-layer ls-text"
                  data-horizontal="14.8%" data-vertical="27.5%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                  <span>next is now</span>
                </div>
                <div class="sp-layer"
                  data-horizontal="15%" data-vertical="35.5%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">
                  <img src="template/media/slides/real/samsung.png" alt="samsung">

                </div>
                <div class="sp-layer"
                  data-horizontal="15%" data-vertical="41.7%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="800">
                  <img src="template/media/slides/real/galaxy.png" alt="samsung galaxy">
                </div>
                <div class="sp-layer text-highlight"
                  data-horizontal="15%" data-vertical="52%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="800">
                  <span class="highlight-primary">powerful. stunning. now even bigger</span>
                </div>
                <div class="sp-layer"
                  data-horizontal="15%" data-vertical="63.4%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="1000">
                  <button class="btn btn-default-color1 btn-sm" type="button">SHOP NOW</button>
                </div>
              </div>

              <div class="sp-slide">
                <img class="sp-image" src="template/media/slides/real/slide_3.jpg"
                  data-src="template/media/slides/real/slide_3.jpg"
                  data-retina="media/slides/slide_3.jpg" alt="slide3" />
                <div class="sp-layer s3-text"
                  data-horizontal="18.7%" data-vertical="22.3%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                  <span>microsoft</span>
                </div>
                <div class="sp-layer s3-name"
                  data-horizontal="18.4%" data-vertical="25%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">
                  <span>lumia</span>
                </div>
                <div class="sp-layer s3-discount"
                  data-horizontal="18.7%" data-vertical="36.4%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="800">
                  <span>smartphones<br>10% OFF</span>
                </div>
                <div class="sp-layer s3-text2"
                  data-horizontal="18.7%" data-vertical="53%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="800">
                  <span>get discount on latest<br>& the best tech</span>
                </div>
                <div class="sp-layer sl3"
                  data-horizontal="18.8%" data-vertical="69.4%"
                  data-show-transition="left" data-hide-transition="up" data-show-delay="1000">
                  <button class="btn btn-default-color1 btn-sm" type="button">SHOP NOW</button>
                </div>
              </div>

            </div>
          </div>
          <script type="text/javascript" src="lib/assets/slider-pro-master/js/jquery.sliderPro.min.js"></script>
          <script type="text/javascript" src="lib/assets/bxslider/jquery.bxslider.min.js"></script>
        </section>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="b-features-wrapper wow bounceInUp">
                <div class="b-store-features clearfix">
                  <div class="b-feature-holder col-sm-3">
                    <div class="feature-block">
                      <div class="feature-icon">
                        <i class="fa fa-thumbs-up"></i>
                      </div>
                      <div class="feature-info">
                        <p>Full warrenty</p>
                        <p>Read About Our Warrenty</p>
                      </div>
                    </div>
                  </div>
                  <div class="b-feature-holder col-sm-3">
                    <div class="feature-block">
                      <div class="feature-icon">
                        <i class="fa fa-truck"></i>
                      </div>
                      <div class="feature-info">
                        <p>express shipping</p>
                        <p>Local & International Shipping</p>
                      </div>
                    </div>
                  </div>
                  <div class="b-feature-holder col-sm-3">
                    <div class="feature-block">
                      <div class="feature-icon">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <div class="feature-info">
                        <p>mobile blog</p>
                        <p>Discuss Your Favourite Phone</p>
                      </div>
                    </div>
                  </div>
                  <div class="b-feature-holder col-sm-3">
                    <div class="feature-block">
                      <div class="feature-icon">
                        <i class="fa fa-headphones"></i>
                      </div>
                      <div class="feature-info">
                        <p>24/7 Support</p>
                        <p>Get Full Support via Chat</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     
        <div ng-include="'modules/brands/client/views/list-brands.client.view.html'"></div>

        <div class="b-bestsellers">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a class="heading-line-long" href="home-1.html#bybrand" aria-controls="bybrand" role="tab" data-toggle="tab">phones by brand</a>
                  </li>
                 <!--  <li role="presentation">
                    <a href="home-1.html#bestsellers" aria-controls="bestsellers" role="tab" data-toggle="tab">Best sellers</a>
                  </li> -->
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="bybrand">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="b-brand-filters">
                          <div>
                            <ul class="tags-buttons list-inline by-brands-buttons">
                              <li>
                                <button data-filter="*" class="btn btn-tag active">all</button>
                              </li>
                              <li>
                                <button data-filter=".apple" class="btn btn-tag">Apple</button>
                              </li>
                              <li>
                                <button data-filter=".samsung" class="btn btn-tag">Samsung</button>
                              </li>
                              <li>
                                <button data-filter=".oppo" class="btn btn-tag">Oppo</button>
                              </li>
                              <li>
                                <button data-filter=".sony" class="btn btn-tag">Sony</button>
                              </li>
                              <li>
                                <button data-filter=".vivo" class="btn btn-tag">Vivo</button>
                              </li>
                              <li>
                                <button data-filter=".xiaomi" class="btn btn-tag">Xiaomi</button>
                              </li>
                              <li>
                                <button data-filter=".nokia" class="btn btn-tag">Nokia</button>
                              </li>
                              <li>
                                <button data-filter=".asus" class="btn btn-tag">Asus</button>
                              </li>
                              <li>
                                <button data-filter=".huawei" class="btn btn-tag">Huawei</button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Show Products -->
                    <div class="row">
                      <div class="b-related by-brands wow fadeInUp">
                        <!-- <div ng-repeat="product in vm.products" class="{{product.brand.tag}} related-item col-xs-6 col-sm-6 col-md-3 col-lg-3"> -->
                          <!-- {{product.name.split(' ')[0].toLowerCase()}} -->
                        <div ng-repeat="product in vm.products" 
                        class="{{product.name.split(' ')[0].toLowerCase()}} related-item col-xs-6 col-sm-6 col-md-3 col-lg-3">
                          <div class="b-item-card">
                            <div class="image">
                              <a ui-sref="products.view({   productId: product._id })">
                                <img src="{{product.image}}" class="img-responsive center-block" alt="/">
                              </a>
                              <div class="image-add-mod">
                                <div class="add-description">
                                  <div>
                                    <span>Qualcomm Snapdragon 801</span>
                                    <br>
                                    <span>2.3 GHz Quad-core CPU</span>
                                    <br>
                                    <span>5.0" Corning Gorilla Glass</span>
                                    <br>
                                    <span>3GB RAM / 16GB ROM</span>
                                    <br>
                                    <button class="btn btn-default-color1 btn-sm" type="button"><i class="fa fa-refresh fa-lg"></i></button>
                                    <a ui-sref="products.view({ productId: product._id })" data-gal="prettyPhoto" title="{{product.name}}" class="btn btn-lightbox btn-default-color1 btn-sm">
                                      <i class="fa fa-search-plus fa-lg"></i>
                                    </a>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <div class="card-info">
                              <div class="caption">
                                <p class="name-item">
                                  <a class="product-name" ui-sref="products.view({ productId: product._id })">{{product.name}}</a>
                                </p>
                                <span class="product-price">$399.00</span>
                              </div>
                              <div class="add-buttons">
                                <button type="button" class="btn btn-add btn-add-wish"><i class="fa fa-heart-o"></i></button>
                              <button type="button" class="btn btn-add btn-add-cart" ng-click="addProductToCart(product)"><i class="fa fa-shopping-cart"></i></button>                                </div>
                            </div>
                          </div>
                        </div>
                        
                       
                      </div>
                    </div>
                  </div>
                 <!--  <div role="tabpanel" class="tab-pane" id="bestsellers">
                    <div class="row">
                      <div class="b-related">
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                          <div class="b-item-card">
                            <div class="image">
                              <a href="#">
                                <img src="template/media/item-card-media/huaew-mate.jpg" class="img-responsive center-block" alt="/">
                              </a>
                              <div class="image-add-mod">
                                <div class="add-description">
                                  <div>
                                    <span>Qualcomm Snapdragon 801</span>
                                    <br>
                                    <span>2.3 GHz Quad-core CPU</span>
                                    <br>
                                    <span>5.0" Corning Gorilla Glass</span>
                                    <br>
                                    <span>3GB RAM / 16GB ROM</span>
                                    <br>
                                    <button class="btn btn-default-color1 btn-sm" type="button"><i class="fa fa-refresh fa-lg"></i></button>
                                    <a href="media/item-card-media/huaew-mate.jpg" data-gal="prettyPhoto" title="HUAWEI G8 4G" class="btn btn-lightbox btn-default-color1 btn-sm">
                                      <i class="fa fa-search-plus fa-lg"></i>
                                    </a>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <div class="card-info">
                              <div class="caption">
                                <p class="name-item">
                                  <a class="product-name" href="product-details.html">Huawei Mate S</a>
                                </p>
                                <span class="product-price">$280.00</span>
                              </div>
                              <div class="add-buttons">
                                <button type="button" class="btn btn-add btn-add-wish"><i class="fa fa-heart-o"></i></button>
                              <button type="button" class="btn btn-add btn-add-cart"><i class="fa fa-shopping-cart"></i></button>                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                          <div class="b-item-card">
                            <div class="special-plank new">
                              <span>new</span>
                            </div>
                            <div class="image">
                              <a href="#">
                                <img src="template/media/item-card-media/xperia.jpg" class="img-responsive center-block" alt="/">
                              </a>
                              <div class="image-add-mod">
                                <div class="add-description">
                                  <div>
                                    <span>Qualcomm Snapdragon 801</span>
                                    <br>
                                    <span>2.3 GHz Quad-core CPU</span>
                                    <br>
                                    <span>5.0" Corning Gorilla Glass</span>
                                    <br>
                                    <span>3GB RAM / 16GB ROM</span>
                                    <br>
                                    <button class="btn btn-default-color1 btn-sm" type="button"><i class="fa fa-refresh fa-lg"></i></button>
                                    <a href="media/item-card-media/g84g.jpg" data-gal="prettyPhoto" title="HUAWEI G8 4G" class="btn btn-lightbox btn-default-color1 btn-sm">
                                      <i class="fa fa-search-plus fa-lg"></i>
                                    </a>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <div class="card-info">
                              <div class="caption">
                                <p class="name-item">
                                  <a class="product-name" href="product-details.html">SONY XPERIA Z5</a>
                                </p>
                                <span class="product-price">$550.00</span>
                              </div>
                              <div class="add-buttons">
                                <button type="button" class="btn btn-add btn-add-wish"><i class="fa fa-heart-o"></i></button>
                              <button type="button" class="btn btn-add btn-add-cart"><i class="fa fa-shopping-cart"></i></button>                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                          <div class="b-item-card">
                            <div class="special-plank new">
                              <span>new</span>
                            </div>
                            <div class="image">
                              <a href="#">
                                <img src="template/media/item-card-media/mi41.jpg" class="img-responsive center-block" alt="/">
                              </a>
                              <div class="image-add-mod">
                                <div class="add-description">
                                  <div>
                                    <span>Qualcomm Snapdragon 801</span>
                                    <br>
                                    <span>2.3 GHz Quad-core CPU</span>
                                    <br>
                                    <span>5.0" Corning Gorilla Glass</span>
                                    <br>
                                    <span>3GB RAM / 16GB ROM</span>
                                    <br>
                                    <button class="btn btn-default-color1 btn-sm" type="button"><i class="fa fa-refresh fa-lg"></i></button>
                                    <a href="media/item-card-media/mi41.jpg" data-gal="prettyPhoto" title="MI 41" class="btn btn-lightbox btn-default-color1 btn-sm">
                                      <i class="fa fa-search-plus fa-lg"></i>
                                    </a>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <div class="card-info">
                              <div class="caption">
                                <p class="name-item">
                                  <a class="product-name" href="product-details.html">Xiaomi Mi 4i</a>
                                </p>
                                <span class="product-price">$350.00</span>
                              </div>
                              <div class="add-buttons">
                                <button type="button" class="btn btn-add btn-add-wish"><i class="fa fa-heart-o"></i></button>
                              <button type="button" class="btn btn-add btn-add-cart"><i class="fa fa-shopping-cart"></i></button>                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                          <div class="b-item-card">
                            <div class="image">
                              <a href="#">
                                <img src="template/media/item-card-media/g84g.jpg" class="img-responsive center-block" alt="/">
                              </a>
                              <div class="image-add-mod">
                                <div class="add-description">
                                  <div>
                                    <span>Qualcomm Snapdragon 801</span>
                                    <br>
                                    <span>2.3 GHz Quad-core CPU</span>
                                    <br>
                                    <span>5.0" Corning Gorilla Glass</span>
                                    <br>
                                    <span>3GB RAM / 16GB ROM</span>
                                    <br>
                                    <button class="btn btn-default-color1 btn-sm" type="button"><i class="fa fa-refresh fa-lg"></i></button>
                                    <a href="media/item-card-media/g84g.jpg" data-gal="prettyPhoto" title="HUAWEI G8 4G" class="btn btn-lightbox btn-default-color1 btn-sm">
                                      <i class="fa fa-search-plus fa-lg"></i>
                                    </a>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <div class="card-info">
                              <div class="caption">
                                <p class="name-item">
                                  <a class="product-name" href="product-details.html">HUAWEI G8 4G</a>
                                </p>
                                <span class="product-price">$335.00</span>
                              </div>
                              <div class="add-buttons">
                                <button type="button" class="btn btn-add btn-add-wish"><i class="fa fa-heart-o"></i></button>
                              <button type="button" class="btn btn-add btn-add-cart"><i class="fa fa-shopping-cart"></i></button>                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
  

        <div class="b-hr-mod">
          <hr>
        </div>
        
      </section>
    
    </div>
</section>
<!-- 
<script type="text/javascript" src="lib/assets/js/theme.js"></script> -->