
<section  ng-controller="ProductsController as vm1" class="section-product-detail" ng-init="findOne()">
    <div id="popup-top-review">
      <div id="top-review-content">
        <div class="b-post-comments wow fadeInUp">
          <button class="close-button-review">X</button>
          <div>
                <br>
                <h3 class="heading-top-review">Watch Reviews<span> [ {{commentLength}} ]</span></h3>
          </div>
          <div class="row">
            <select id="currentSentenceType" class="styled-select slate"  ng-options="x for x in vm.sentenceTypes"
            ng-model="vm.sentenceFilter">
              <option value="">All</option>
            </select>
          </div>
                <div class="b-comments-holder">
                  <div class="comment-item" 
                  ng-repeat="comment in comments | filter: (!!vm.sentenceFilter || undefined) && {sentiment: vm.sentenceFilter}">
                      <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                      <div class="userpic">
                        <span>
                          <img src="http://graph.facebook.com/2082919741944556/picture?type=square" class="img-responsive" alt="/">
                        </span>
                      </div>
                    </div>
                    <div class="col-sm-9">
                          <!-- <span class="comment-sentiment">câu khen</span> -->
                      <span ng-if="comment.sentiment=='câu khen'" class="comment-sentiment" style="color: #428d00;"> {{comment.sentiment}}
                      </span>
                      <span ng-if="comment.sentiment=='câu chưa biết' || comment.sentiment=='câu bình thường'" class="comment-sentiment" style="color: #ffc410;"> {{comment.sentiment}}
                      </span>
                      <span ng-if="comment.sentiment=='câu chê'" class="comment-sentiment" style="color: #ff0000;">
                      {{comment.sentiment}}</span>
                      <div class="comment-body comment-all-content">
                        <div class="comment-author">
                          <span class="name comment-sender">{{comment.senderName}}</span>
                          <span> đã đăng vào lúc </span>
                          <span class="comment-date">{{vm.formatDate(comment.created_time)
                        }}</span>
                        </div>
                        <div class="comment-text">
                          <p class="comment-sentiment-content">{{comment.content}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                 <!--  <div class="comment-item">
                    <div class="col-sm-1">
                      <div class="userpic">
                        <span>
                          <img src="media/blog/userpics/user2.jpg" class="img-responsive" alt="/">
                        </span>
                      </div>
                    </div>
                    <div class="col-sm-11">
                      <div class="comment-body">
                        <div class="comment-author">
                          <span class="name">Sara Alex</span>
                          <button class="comment-reply pull-right">Khen</button>
                          <span class="comment-date">december 31, 2015  -  02:36 pm</span>
                        </div>
                        <div class="comment-text">
                          <p>
                            Lorem ipsum dolor sit amet consectur adipisicing elitsed do eiusmod tempor incidiant ealnt labore orem ips um dolor sit amet consectetur adipisicing elit eiusmod incididunt. Lorem ipsum dolor sit amet consecteurm adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
      </div>
      <!--   <div>
          <h1>Top Reviews</h1>
        </div>
        <div class="list-group">
          <a ng-repeat="product in vm.products"
             class="list-group-item">
            <small class="list-group-item-text">
              Posted on
              <span ng-bind="product.created | date:'mediumDate'"></span>
              by
              <span ng-if="product.user" ng-bind="product.user.displayName"></span>
              <span ng-if="!product.user">Deleted User</span>
            </small>
            <h4 class="list-group-item-heading" ng-bind="product.name"></h4>
          </a>
        </div> -->
       <!--  <div class="alert alert-warning text-center" ng-if="vm.products.$resolved && !vm.products.length">
          No Products yet, why don't you <a ui-sref="products.create">create one</a>?
        </div> -->
      </div>
   <!-- Loader -->
    <div id="page-preloader"><span class="spinner"></span></div>
        <div class="b-page-header">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 clearfix">
                <h3 class="page-title pull-left">product detail</h3>
                <div class="b-breadcrumbs pull-right">
                  <ul class="list-unstyled">
                    <li>
                      <a href="/home">home</a>
                    </li>
                    <li>
                      <a href="#">category</a>
                    </li>
                    <li>
                      <a href="#">apple</a>
                    </li>
                    <li>
                      <span>{{product.name}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="detail-title">
                <h3 class=heading-line>{{product.name}}</h3>
                <p>Generic Box, Unlocked, 64GB, Gold Edition</p>
              </div>
              <div class="detail-main">
                <div class="row">
                  <div class="col-sm-5 product-image wow fadeInLeft">
                    <ul class="bxslider-product enable-bx-slider" data-pager-custom="#bx-pager" data-controls="false" data-min-slides="1" data-max-slides="1" data-slide-width="0" data-slide-margin="0" data-mode="horizontal" data-infinite-loop="true">
                      <li><img src={{product.image}} style="width: 332px; height: 332px; 
    margin: auto;" alt="/" /></li>
                      <li><img src={{product.image}} style="width: 332px; height: 332px; 
    margin: auto;" alt="/" /></li>
                      <!-- <li><img src="https://cdn.fptshop.com.vn/Uploads/Originals/2017/11/10/636459040422660236_1.jpg" alt="/" /></li>
                      <li><img src="https://cdn.fptshop.com.vn/Uploads/Originals/2017/11/10/636459040422816229_2.jpg" alt="/" /></li>
                      <li><img src="https://cdn.fptshop.com.vn/Uploads/Originals/2017/11/10/636459040422660236_3.jpg" alt="/" /></li> -->
                      <!-- <li><img src="http://templines.rocks/html/sokolcov/ismiler/media/product-detail/1.jpg" alt="/" /></li> -->
                    </ul>
                    <div class="product-image-thumbs">
                      <ul id="bx-pager" class="pager-custom list-unstyled enable-bx-slider" data-pager-custom="null" data-controls="true" data-min-slides="4" data-max-slides="5" data-slide-width="60" data-slide-margin="5"  data-mode="horizontal" data-infinite-loop="false">
                        <li>
                          <a data-slide-index="0" href="#"><img src={{product.image}} alt="/" /></a>
                        </li>
                        <li>
                          <a data-slide-index="1" href="#"><img src={{product.image}} alt="/" /></a>
                        </li>
                       <!--  <li>
                          <a data-slide-index="0" href="#"><img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/11/10/636459040422660236_1.jpg" alt="/" /></a>
                        </li>
                        <li>
                          <a data-slide-index="1" href="#"><img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/11/10/636459040422816229_2.jpg" alt="/" /></a>
                        </li>
                        <li>
                          <a data-slide-index="2" href="#"><img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/11/10/636459040422660236_3.jpg" alt="/" /></a>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-7 wow fadeInRight">
                    <div class="detail-info pd1">
                      <div class="card-info">
                        <div class="caption">
                          <div class="name-item">
                            <div class="card-price-block clearfix">
                              <span class="price-title">Price :</span>
                              <span class="product-price">{{product.price}} VNĐ</span>
                              <span class="product-price-old">{{product.price*2}} VNĐ</span>
                            <!--   <span class="product-availability pull-right">iN STOCk</span> -->
                            </div>
                            <div class="rating">
                              <div >
                                  <a id="top-review" class="product-review" href="#">Top Reviews</a>
                                  <span class="product-review-no-color">(</span>
                                  <span id="review-percent" class="product-review-percent">{{percentage}}</span>
                                   <span class="product-review-no-color">)</span>
                              </div>
                            </div>
                          </div>
                          <div class="product-description">
                            <h6 class="heading-line">Mô tả</h6>
                            <p>
                              iPhone 6S 64 GB cũ, mới 99% (Hàng nhập khẩu)
                              iPhone 6S dù đã ra mắt từ năm 2015 nhưng vẫn luôn có sức hút lớn với người dùng nhờ vào thiết kế sang trọng, hiệu năng mạnh mẽ và chất lượng đã được khẳng định của một sản phẩm mang thương hiệu Apple.

                               

                              Thiết kế iPhone 6S 64 GB cũ, mới 99% sang trọng, hình thức như mới
                              iPhone 6S 64 GB được làm từ nhôm nguyên khối rất bắt mắt với các góc cạnh, khung viền cũng như phím bấm vật lý được hoàn thiện tỉ mỉ. Hợp kim nhôm cấu thành iPhone 6S thuộc Series 7000 cho độ cứng tốt hơn Series 6000 trên iPhone 6.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="detail-qty-color">
                       <!--  <div class="input-group spinner" dât-trigger="spinner">
                          <h6 class="heading-line">Quantity</h6>
                          <input type="tẽt" dât-rule="quantity" value="1">
                          <div class="spinner-btn">
                            <a class="btn btn-default" href="javascript:;" dât-spin="up"><i class="fa fa-chevron-up"></i></a>
                            <a class="btn btn-default" href="javascript:;" dât-spin="dơn"><i class="fa fa-chevron-dơn"></i></a>
                          </div>
                        </div> -->
                       <!--  <div class="input-group colors">
                          <h6 class="heading-line">color</h6>
                          <ul class="colors-group lít-unstyled">
                            <li>
                              <a href="product-details.html" class="colors-item black">
                                <i class="fa fa-check"></i>
                              </a>
                            </li>
                            <li>
                              <a href="product-details.html" class="colors-item pink">
                                <i class="fa fa-check"></i>
                              </a>
                            </li>
                            <li>
                              <a href="product-details.html" class="colors-item gray">
                                <i class="fa fa-check"></i>
                              </a>
                            </li>
                            <li>
                              <a href="product-details.html" class="colors-item light-gray">
                                <i class="fa fa-check"></i>
                              </a>
                            </li>
                            <li>
                              <a href="product-details.html" class="colors-item white">
                                <i class="fa fa-check"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div> -->
                      <div class="detail-buttons clearfix">
                      <!--   <div class="add-buttons">
                          <button type="button" class="btn btn-add btn-add-compare"><i class="fa fa-refresh"></i></button>
                          <button type="button" class="btn btn-add btn-add-wish"><i class="fa fa-heart-o"></i></button>
                        </div> -->
                        <div class="cart-add-buttons">
                          <button type="button" class="btn btn-cart-color2"  ng-click="addProductToCart(product)"><i class="fa fa-shopping-cart fa-lg"></i> add to cart</button>
                        </div>
                      </div>
                     <!--  <div class="b-socials full-socials clearfix">
                        <ul class="list-unstyled">
                          <li><a href="https://twitter.com/"><i class="fa fa-twitter fa-fw"></i>Tweet</a></li>
                          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-fw"></i>Share</a></li>
                          <li><a href="https://plus.google.com/"><i class="fa fa-google-plus fa-fw"></i>Google+</a></li>
                          <li><a href="http://pinterest.com/"><i class="fa fa-pinterest fa-fw"></i>Pinterest</a></li>
                        </ul>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="b-hr">
                      <hr>
                    </div>
                   <!--  <div class="detail-tabs wow fadeInUp">
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                          <a class="heading-line" href="product-details.html#description" aria-controls="description" role="tab" data-toggle="tab">Description</a>
                        </li>
                      </ul> -->
                     <!--  <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="description">
                          <p>The iPhone 6S features a resolution of 1334 x 750 pixels on its great-looking 4.7 inch screen, and the high performance A9 mobile phone
                            processor chip means that multi-tasking is smooth, easy and increadibly fast with outstanding energy performance too. Play 3D games
                            to your heart's content thanks to this new image signal processor with quality that's worthy of a fully-fledged games console, and then
                            enjoy the benefits of advanced video and photo functionalities too.  The iPhone 6S is based on a 64 bit architecture and also operates
                            iOS 9 resources so that your user-experience is streamlined and highly intuitive.  Now you can enjoy not just the traditional Message
                            and Photo apps but also Health apps, a QuickType keyboard and also family Share features and iCloud Drive.</p>
                          <p>
                            Processor: A9 chip with 64 bit architecture Integrated M9 movement co-processor
                          </p>
                          <p>
                            Screen type: Retina HD display with 3D Touch 1400:1 contrast ratio (standard) 500 cd/m2 max brightness (standard) Full sRGB standard
                            Dual-domain pixels for wider viewing angles Fingerprint-resistant oleophobic coating on front

                          </p>
                          <p>
                            Screen size: 4.7 inch (diagonal) - Resolution of 1 334 x 750 pixels at 326 ppi
                          </p>
                          <p>
                            Rear sensor: 12-megapixel iSight camera with 1.22µ pixels/Live Photos/Autofocus with Focus Pixels/True Tone Flash, Panoramic up to
                            63 megapixels/Auto HDR photo
                          </p>
                          <p>
                            Battery life: Talk time up to 14 hours in 3G Standby, up to 10 days (250 hours) Internet browsing: up to 10 hours in 3G, up to 10
                          </p>
                          <p>
                            Don't forget that as an iPhone 6S user you also get access to the revolutionary App Store that has over 1.3 million apps in 155 countries.
                          </p>
                        </div>
                      </div> -->
                    <!-- </div> -->
                  </div>
                </div>
                <div class="row">
                    <div class="fb-comments" notify="true" data-href="{{this.location.href}}" data-width="1200" data-numposts="100"></div>
                </div>
<!-- 
                  <div class="fb-comments" data-href="http://localhost:3000/products/{{product._id}}" data-width="850" data-numposts="10"></div>
                </div>
                 -->
              </div>
            </div>
          </div>
        </div>
        <div class="b-hr custom-hr-1">
          <hr>
        </div>
      <!--   <div class="container">
          <div class="row">
            <div class="col-sm-12 clearfix">
              <h3 class="heading-line-long">Users also bought</h3>
              <div class="custom-nav-mod">
                <div class="slider-nav">
                  <a class="slider-prev"><i class="fa fa-chevron-left"></i></a>
                  <span class="nav-divider"></span>
                  <a class="slider-next"><i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 wow fadeInUp">
              <div class="row">
                <div id="detail-related" class="b-related enable-owl-carousel" data-loop="true" data-auto-width="false" data-dots="false" data-nav="false" data-margin="0" data-responsive-class="true" data-responsive='{"0":{"items":1},"479":{"items":2},"768":{"items":3},"1199":{"items":4}}' data-slider-next=".slider-next" data-slider-prev=".slider-prev">
                  <div class="related-item">
                    <div class="b-item-card">
                      <div class="image">
                        <a href="product-details.html">
                          <img src="public/template/media/item-card-media/g84g.jpg" class="img-responsive center-block" alt="/">
                        </a>
                        <div class="image-add-mod">
                          <div class="add-description">
                            <div>
                              <span>Qualcomm Snapdragon 801</span>
                              <br>
                              <span>2.3 GHz Quad-core CPU</span>
                              <br>
                              <span>5.0" Corning Gorilla Glass</span>
                              <br>
                              <span>3GB RAM / 16GB ROM</span>
                              <br>
                              <button class="btn btn-default-color1 btn-sm" type="button"><i class="fa fa-refresh fa-lg"></i></button>
                              <a href="media/item-card-media/g84g.jpg" data-gal="prettyPhoto" title="HUAWEI G8 4G" class="btn btn-lightbox btn-default-color1 btn-sm">
                                <i class="fa fa-search-plus fa-lg"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-info">
                        <div class="caption">
                          <p class="name-item">
                            <a class="product-name" href="product-details.html">HUAWEI G8 4G</a>
                          </p>
                          <span class="product-price">$335.00</span>
                        </div>
                        <div class="add-buttons">
                          <button type="button" class="btn btn-add btn-add-wish"><i class="fa fa-heart-o"></i></button>
                        <button type="button" class="btn btn-add btn-add-cart"><i class="fa fa-shopping-cart"></i></button>                                </div>
                      </div>
                    </div>
                  </div>
                  <div class="related-item">
                    <div class="b-item-card">
                      <div class="special-plank new">
                        <span>new</span>
                      </div>
                      <div class="image">
                        <a href="product-details.html">
                          <img replace src="public/template/media/item-card-media/mate-s.jpg" class="img-responsive center-block" alt="/">
                        </a>
                        <div class="image-add-mod">
                          <div class="add-description">
                            <div>
                              <span>Qualcomm Snapdragon 801</span>
                              <br>
                              <span>2.3 GHz Quad-core CPU</span>
                              <br>
                              <span>5.0" Corning Gorilla Glass</span>
                              <br>
                              <span>3GB RAM / 16GB ROM</span>
                              <br>
                              <button class="btn btn-default-color1 btn-sm" type="button"><i class="fa fa-refresh fa-lg"></i></button>
                              <a href="media/item-card-media/mate-s.jpg" data-gal="prettyPhoto" title="Mate-S" class="btn btn-lightbox btn-default-color1 btn-sm">
                                <i class="fa fa-search-plus fa-lg"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-info">
                        <div class="caption">
                          <p class="name-item">
                            <a class="product-name" href="product-details.html">Huawei Mate S</a>
                          </p>
                          <span class="product-price">$350.00</span>
                        </div>
                        <div class="add-buttons">
                          <button type="button" class="btn btn-add btn-add-wish"><i class="fa fa-heart-o"></i></button>
                        <button type="button" class="btn btn-add btn-add-cart"><i class="fa fa-shopping-cart"></i></button>                                </div>
                      </div>
                    </div>
                  </div>
                  <div class="related-item">
                    <div class="b-item-card">
                      <div class="special-plank new">
                        <span>new</span>
                      </div>
                      <div class="image">
                        <a href="product-details.html">
                          <img src="public/template/media/item-card-media/xperia.jpg" class="img-responsive center-block" alt="/">
                        </a>
                        <div class="image-add-mod">
                          <div class="add-description">
                            <div>
                              <span>Qualcomm Snapdragon 801</span>
                              <br>
                              <span>2.3 GHz Quad-core CPU</span>
                              <br>
                              <span>5.0" Corning Gorilla Glass</span>
                              <br>
                              <span>3GB RAM / 16GB ROM</span>
                              <br>
                              <button class="btn btn-default-color1 btn-sm" type="button"><i class="fa fa-refresh fa-lg"></i></button>
                              <a href="media/item-card-media/xperia.jpg" data-gal="prettyPhoto" title="Xperia" class="btn btn-lightbox btn-default-color1 btn-sm">
                                <i class="fa fa-search-plus fa-lg"></i>
                              </a>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="card-info">
                        <div class="caption">
                          <p class="name-item">
                            <a class="product-name" href="product-details.html">SONY XPERIA Z5</a>
                          </p>
                          <span class="product-price">$550.00</span>
                        </div>
                        <div class="add-buttons">
                          <button type="button" class="btn btn-add btn-add-wish"><i class="fa fa-heart-o"></i></button>
                        <button type="button" class="btn btn-add btn-add-cart"><i class="fa fa-shopping-cart"></i></button>                                </div>
                      </div>
                    </div>
                  </div>
                  <div class="related-item">
                    <div class="b-item-card">
                      <div class="image">
                        <a href="product-details.html">
                          <img src="public/template/media/item-card-media/mi41.jpg" class="img-responsive center-block" alt="/">
                        </a>
                        <div class="image-add-mod">
                          <div class="add-description">
                            <div>
                              <span>Qualcomm Snapdragon 801</span>
                              <br>
                              <span>2.3 GHz Quad-core CPU</span>
                              <br>
                              <span>5.0" Corning Gorilla Glass</span>
                              <br>
                              <span>3GB RAM / 16GB ROM</span>
                              <br>
                              <button class="btn btn-default-color1 btn-sm" type="button"><i class="fa fa-refresh fa-lg"></i></button>
                              <a href="media/item-card-media/mi41.jpg" data-gal="prettyPhoto" title="MI 41" class="btn btn-lightbox btn-default-color1 btn-sm">
                                <i class="fa fa-search-plus fa-lg"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-info">
                        <div class="caption">
                          <p class="name-item">
                            <a class="product-name" href="product-details.html">Xiaomi Mi 4i</a>
                          </p>
                          <span class="product-price">$350.00</span>
                        </div>
                        <div class="add-buttons">
                          <button type="button" class="btn btn-add btn-add-wish"><i class="fa fa-heart-o"></i></button>
                        <button type="button" class="btn btn-add btn-add-cart"><i class="fa fa-shopping-cart"></i></button>                                </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div> -->
        
      </section>